@main("qu.est.io/ns admin", "app/admin.min") {

	<h2><a href="/newQuiz">New Quiz</a></h2>
	<h1>Teams:</h1>
	<ul class="list-group" id="teams">
	</ul>
	<a href="#" id="nextQuestionButton">Next Question</a>
	<div id="nextQuestion"></div>

	<script id="teamListTmpl" type="text/jsrender">
		<li data-team-name="{{:name}}" class="team list-group-item {{if (buzzOrder < 999)}}buzzed{{/if}} {{if (status == 'AWOL') }}awol{{/if}}">
			<div class="score">
				<button class="btn btn-default btn-success plusScore"><i class="fa fa-plus"></i></button>
				<span class="label label-warning">{{:score}}</span>
				<button class="btn btn-default btn-danger minusScore"><i class="fa fa-minus"></i></button>
			</div>
			<div class="name">
				{{:name}}
			</div>
			<div class="response">
				{{:latestResponse}}
			</div>
			<div class="answer">
			{{if (buzzOrder < 999) || latestResponse != null}}
				<button class="btn btn-default btn-success correct"><i class="fa fa-check"></i></button>
				<button class="btn btn-default btn-success incorrect"><i class="fa fa-times"></i></button>
			{{/if}}
			</div>
		</li>
	</script>

	<script id="nextQuestionTmpl" type="text/jsrender">
		<div id="questionArea">
			<div id="question">Q: {{:question}}</div>
			<div id="answer">A: {{:answer}}</div>
		</div>
	</script>
}