.site-wrapper-inner {
	  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9) ), url("../images/masthead.jpg");
}

#buzzer {
	font-size: 2em;
	color: #333333;
}

.site-wrapper-inner li {
	color: #333;
}

li {
  height: 60px;
  &.buzzed {
    background-color: yellow;
  }
  &.awol {
    background-color: grey;
  }
}

.score {
    float: left;
    width: 20%;
}

.name {
    float: left;
    width: 40%;
}

.response {
    float: left;
    width: 20%;
}

.answer {
    float: left;
    width: 20%;
}

.btn:hover {
	background-position: 0px 0px;
}

.team {
	font-size: 1.4em; 
}

#nextQuestion {
    background-color: white;
    color: grey;
    text-shadow: none;
}

#nextQuestionButton {
    font-size: 3em;
}

input, button {
    color: black;
}

#buzzer {
    height: 200px;
    width: 400px;
}

#questionArea {
    font-size: 1.7em;
}