@(title: String, jsFile: String, stylesheet: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")">
		<link rel="stylesheet" href="@stylesheet">

		<script src="@routes.Assets.at("javascripts/require.min.js")"></script>
		<script>
			require(['@routes.Assets.at("javascripts/app/main.js")'], function() {
				@if(jsFile) {
					require(['@jsFile']);
				}
			})
		</script>
    </head>
    <body>
	    <div class="site-wrapper">
	      <div class="site-wrapper-inner">
	        <div class="cover-container">
	            @bootstrap.masthead("qu.est.io/ns")
		
        		@content
    		</div>
      	  </div>
       </div>
    </body>
</html>
