@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/cover.css")">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js" data-main="assets/javascripts/app/main"></script>
    </head>
    <body>
	    <div class="site-wrapper">
	      <div class="site-wrapper-inner">
	        <div class="cover-container">
	            @bootstrap.masthead("qu.est.io/ns")
		
        		@content
    		</div>
      	  </div>
       </div>
    </body>
</html>
