@(teamName:String)

@main("qu.est.io/ns ho.me", "app/quiz.min") {
	
	<h1>Welcome @teamName</h1>
	
	<h1>Your score: <span class="label label-success" id="score">0</span></h1>
	
	<h2 id="questionArea"></h2>
	<div id="answerArea">
	</div>
	
<!-- 	<div id="debug">Connecting...</div> -->
	
	<script>
		window.teamName = "@teamName"
	</script>
	
	<script id="simpleAnswer" type="text/jsrender">
		<input type="text" id="answer"></input><button id="submitAnswer">Go!</button>
	</script>
	
	<script id="buzzer" type="text/jsrender">
		<span class="btn btn-default btn-lg" id="buzzer">BUZZ!</span>
	</script>
}