@(teamName:String)

@main("qu.est.io/ns ho.me", "app/quiz", routes.Assets.at("stylesheets/cover.css").toString) {
	
	<h1>Welcome @teamName</h1>
	
	<h1>Your score: <span id="score">0</span></h1>
	
	<h2 id="questionArea"></h2>
	<div id="answerArea">
	</div>
	
	<div id="debug">Connecting...</div>
	
	<script>
		window.teamName = "@teamName"
	</script>
	
	<script id="simpleAnswer" type="text/jsrender">
		<input type="text" id="answer"></input><button id="submitAnswer">Go!</button>
	</script>
	
	<script id="buzzer" type="text/jsrender">
		<a href="#" id="buzzer">BUZZ!</a>
	</script>
}